body{

    background-color: #ffd924;

}


.p1{

    
    margin: 0 auto;
    height: 50em;
    width: 40em;

}


.p2{

    display: block;
    width: 1em;
    height: 1em;

    box-shadow: 
    
        38em 4em #231816,
        39em 4em #231816,

        36em 5em #231816,
        37em 5em #231816,
        38em 5em #231816,
        39em 5em #231816,

        34em 6em #231816,
        35em 6em #231816,
        36em 6em #231816,
        37em 6em #231816,
        38em 6em #231816,
        39em 6em #231816,
        39em 6em #231816,

        33em 7em #231816,
        37em 7em #231816,
        38em 7em #231816,
        39em 7em #231816,

        3em 8em #231816,
        4em 8em #231816,
        5em 8em #231816,
        6em 8em #231816,
        7em 8em #231816,
        8em 8em #231816,
        9em 8em #231816,
        32em 8em #231816,
        37em 8em #231816,
        38em 8em #231816,
        39em 8em #231816,
        
        3em 9em #231816,
        4em 9em #231816,
        5em 9em #231816,
        6em 9em #f19224,
        7em 9em #f19224,
        8em 9em #f19224,
        9em 9em #231816,
        10em 9em #231816,
        11em 9em #231816,
        12em 9em #231816,
        31em 9em #231816,
        35em 9em #f19224,
        36em 9em #f19224,
        37em 9em #231816,
        38em 9em #231816,

        5em 10em #231816,
        6em 10em #231816,
        7em 10em #f19224,
        12em 10em #f19224,
        13em 10em #231816,
        14em 10em #231816,
        15em 10em #231816,
        16em 10em #231816,
        18em 10em #231816,
        19em 10em #231816,
        20em 10em #231816,
        21em 10em #231816,
        22em 10em #231816,
        23em 10em #231816,
        24em 10em #231816,
        25em 10em #231816,
        26em 10em #231816,
        27em 10em #231816,
        29em 10em #231816,
        30em 10em #231816,
        35em 10em #f19224,
        36em 10em #f19224,
        37em 10em #231816,

        6em 11em #231816,
        7em 11em #231816,
        8em 11em #f19224,
        16em 11em #f19224,
        17em 11em #231816,
        28em 11em #231816,
        29em 11em #f19224,
        34em 11em #f19224,
        35em 11em #f19224,
        36em 11em #f19224,
        37em 11em #231816,

        7em 12em #231816,
        8em 12em #231816,
        9em 12em #f19224,
        33em 12em #f19224,
        34em 12em #f19224,
        35em 12em #f19224,
        36em 12em #231816,

        8em 13em #231816,
        9em 13em #231816,
        10em 13em #f19224,
        34em 13em #f19224,
        11em 13em #f19224,
        12em 13em #f19224,
        13em 13em #f19224,
        33em 13em #231816,
        34em 13em #f19224,
        35em 13em #231816,

        10em 14em #231816,
        11em 14em #231816,
        12em 14em #f19224,
        13em 14em #231816,
        33em 14em #f19224,
        34em 14em #231816,

        12em 15em #231816,
        34em 15em #231816,

        12em 16em #231816,
        16em 16em #231816,
        17em 16em #231816,
        26em 16em #231816,
        27em 16em #231816,
        34em 16em #231816,

        11em 17em #231816,
        12em 17em #f19224,
        15em 17em #231816,
        16em 17em #231816,
        17em 17em white,
        18em 17em #231816,
        25em 17em #231816,
        26em 17em #231816,
        27em 17em white,
        28em 17em #231816,
        35em 17em #231816,

        11em 18em #231816,
        15em 18em #231816,
        16em 18em #231816,
        17em 18em #231816,
        18em 18em #231816,
        25em 18em #231816,
        26em 18em #231816,
        27em 18em #231816,
        28em 18em #231816,
        35em 18em #231816,

        11em 19em #231816,
        16em 19em #231816,
        17em 19em #231816,
        26em 19em #231816,
        27em 19em #231816,
        35em 19em #231816,

        3em 20em #231816,
        10em 20em #231816,
        13em 20em red,
        14em 20em red,
        21em 20em #231816,
        22em 20em #231816,
        31em 20em red,
        32em 20em red,
        35em 20em #231816,

        3em 21em #231816,
        4em 21em #231816,
        10em 21em #231816,
        12em 21em red,
        13em 21em red,
        14em 21em red,
        15em 21em red,
        30em 21em red,
        31em 21em red,
        32em 21em red,
        33em 21em red,
        35em 21em #231816,

        3em 22em #231816,
        4em 22em #f19224,
        5em 22em #231816,
        10em 22em #231816,
        12em 22em red,
        13em 22em red,
        14em 22em red,
        15em 22em red,
        18em 22em #231816,
        21em 22em #231816,
        22em 22em #231816,
        25em 22em #231816,
        30em 22em red,
        31em 22em red,
        32em 22em red,
        33em 22em red,
        35em 22em #231816,

        3em 23em #231816,
        5em 23em #f19224,
        6em 23em #231816,
        10em 23em #231816,
        13em 23em red,
        14em 23em red,
        19em 23em #231816,
        20em 23em #231816,
        23em 23em #231816,
        24em 23em #231816,
        31em 23em red,
        32em 23em red,
        35em 23em #231816,

        3em 24em #231816,
        6em 24em #f19224,
        7em 24em #231816,
        11em 24em #231816,
        34em 24em #231816,

        3em 25em #231816,
        7em 25em #f19224,
        8em 25em #231816,
        11em 25em #231816,
        33em 25em #f19224,
        34em 25em #231816,

        3em 26em #231816,
        8em 26em #f19224,
        9em 26em #231816,
        12em 26em #231816,
        33em 26em #231816,

        3em 27em #231816,
        9em 27em #f19224,
        10em 27em #231816,
        11em 27em #231816,
        12em 27em #f19224,
        20em 27em #f19224,
        21em 27em #f19224,
        22em 27em #f19224,
        23em 27em #f19224,
        33em 27em #f19224,
        34em 27em #231816,

        3em 28em #231816,
        10em 28em #f19224,
        11em 28em #231816,
        12em 28em #231816,
        22em 28em #f19224,
        21em 28em #f19224,
        34em 28em #231816,

        3em 29em #231816,
        11em 29em #231816,
        18em 29em #231816,
        25em 29em #231816,
        34em 29em #231816,

        4em 30em #231816,
        9em 30em #231816,
        10em 30em #231816,
        14em 30em #231816,
        18em 30em #231816,
        25em 30em #231816,
        29em 30em #231816,
        34em 30em #231816,

        5em 31em #231816,
        8em 31em #231816,
        9em 31em #c3a40f,
        10em 31em #231816,
        14em 31em #231816,
        19em 31em #231816,
        24em 31em #231816,
        29em 31em #231816,
        35em 31em #231816,
        
        4em 32em #231816,
        7em 32em #231816,
        8em 32em #c3a40f,
        9em 32em #c3a40f,
        10em 32em #231816,
        14em 32em #f19224,
        15em 32em #231816,
        19em 32em #231816,
        24em 32em #231816,
        28em 32em #231816,
        29em 32em #f19224,
        35em 32em #231816,

        4em 33em #231816,
        7em 33em #f19224,
        8em 33em #231816,
        9em 33em #c3a40f,
        10em 33em #231816,
        14em 33em #f19224,
        15em 33em #231816,
        19em 33em #231816,
        24em 33em #231816,
        28em 33em #231816,
        29em 33em #f19224,
        35em 33em #231816,

        5em 34em #231816,
        7em 34em #f19224,
        8em 34em #f19224,
        9em 34em #231816,
        10em 34em #231816,
        15em 34em #f19224,
        16em 34em #231816,
        19em 34em #231816,
        24em 34em #231816,
        27em 34em #231816,
        28em 34em #f19224,
        35em 34em #231816,

        6em 35em #231816,
        7em 35em #f19224,
        8em 35em #f19224,
        9em 35em #f19224,
        10em 35em #231816,
        16em 35em #f19224,
        17em 35em #231816,
        18em 35em #231816,
        25em 35em #231816,
        26em 35em #231816,
        27em 35em #f19224,
        35em 35em #231816,

        7em 36em #231816,
        8em 36em #f19224,
        9em 36em #231816,
        10em 36em #231816,
        35em 36em #231816,

        6em 37em #231816,
        7em 37em #f19224,
        8em 37em #f19224,
        9em 37em #f19224,
        10em 37em #231816,
        35em 37em #231816,

        7em 38em #231816,
        8em 38em #f19224,
        9em 38em #f19224,
        10em 38em #f19224,
        11em 38em #231816,
        34em 38em #231816,

        8em 39em #231816,
        9em 39em #231816,
        10em 39em #f19224,
        11em 39em #231816,
        34em 39em #231816,

        10em 40em #231816,
        11em 40em #231816,
        12em 40em #231816,
        13em 40em #f19224,
        20em 40em #f19224,
        21em 40em #f19224,
        22em 40em #f19224,
        23em 40em #f19224,
        33em 40em #231816,

        13em 41em #231816,
        16em 41em #f19224,
        17em 41em #f19224,
        18em 41em #231816,
        19em 41em #231816,
        20em 41em #231816,
        21em 41em #231816,
        22em 41em #231816,
        23em 41em #231816,
        24em 41em #231816,
        25em 41em #f19224,
        26em 41em #f19224,
        33em 41em #231816,

        12em 42em #231816,
        16em 42em #231816,
        17em 42em #231816,
        18em 42em #231816,
        25em 42em #231816,
        26em 42em #231816,
        32em 42em #231816,

        12em 43em #231816,
        13em 43em #231816,
        14em 43em #231816,
        15em 43em #231816,
        16em 43em #231816,
        26em 43em #231816,
        27em 43em #231816,
        28em 43em #231816,
        29em 43em #231816,
        30em 43em #231816,
        31em 43em #231816,
        32em 43em #231816;

}